<form action="goout" method="post">
    <p><input type="text" name=starttime placeholder="출발시간">부터   <input type="text" name=stoptime placeholder="도착시간">까지</p>
    <p><input type="text" name=why placeholder="사유"></p>
    <p><input type="submit">
</form>