<html>
  <head>
  <% include partials/head %>
  <% include partials/nav %>
  <title>gsm기숙사</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>기숙사 관리 시스템</h1>
    <h3><a href="/logout">로그아웃</a></h3>
    <ul>
        <h2><a href="/lab"> Lab실 신청하기</a></h2>
        <h2><a href="/stay">잔류학생 관리</a></h2>
        <h2><a href="/point">상벌점 관리</a></h2>
        <h2><a href="/music">노래 신청</a></h2>
        <h2>호실 배정</h2>
    </ul>
  </body>
</html>