<html>
    <head>
    <% include partials/head %>
    <title>학습실 자리 예약</title>
    </head>
    <body>
        <% include partials/nav %>
        <div class = "container" style = "text-align:center">
            
        </div>
    </body>
</html>