<html>
  <head>
  <% include partials/head %>
  <title>gsm기숙사</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <% include partials/nav %>
    <div class="container">
      <h1>노래 신청</h1>
      <hr/>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>날짜</th>
            <th>가수</th>
            <th>제목</th>
          </tr>
        </thead>
        <tbody>
        <% for(var i=0;i<musicList.length;i++){ %>
        <tr>
          <td><%= formatDate(musicList[i].date) %></td>
          <td><%= musicList[i].singer %></td>
          <td><%= musicList[i].title %></td>
        </tr>
        <%}%>
      </tbody>
     </table>
     <form action="/music/add" method="post">
      <p><input type="text" name=singer placeholder="가수">가수</p>
      <p><input type="text" name=title placeholder="제목">제목</p>
      <p><input type="submit" value="신청하기"></p>
    </form>
    </div>
  </body>
</html>





