<form action="roomadd" method="post">
    <p>호실명 <input type="text" name=roomNum placeholder="호실번호""></p>
    <p>학생1 : <input type="text" name=grade1 placeholder="학년">학년 <input type="text" name=class1 placeholder="반">반 <input type="text" name=num1 placeholder="번호">번 
         이름 <input type="text" name=stu1 placeholder="학생1 이름"></p>
    <p>학생1 : <input type="text" name=grade2 placeholder="학년">학년 <input type="text" name=class2 placeholder="반">반 <input type="text" name=num2 placeholder="번호">번 
         이름 <input type="text" name=stu2 placeholder="학생2 이름"></p>
    <p>학생1 : <input type="text" name=grade3 placeholder="학년">학년 <input type="text" name=class3 placeholder="반">반 <input type="text" name=num3 placeholder="번호">번 
         이름 <input type="text" name=stu3 placeholder="학생3 이름"></p>
    <p>학생1 : <input type="text" name=grade4 placeholder="학년">학년 <input type="text" name=class4 placeholder="반">반 <input type="text" name=num4 placeholder="번호">번 
         이름 <input type="text" name=stu4 placeholder="학생4 이름"></p>
    <p><input type="submit" value="호실배정""></p>
</form>