<form action="room" method="post">
    <p>호실명 <input type="text" name=roomNum placeholder="호실번호""></p>
    <p>학생1 <input type="text" name=stu1 placeholder="학생1"></p>
    <p>학생2 <input type="text" name=stu2 placeholder="학생2"></p>
    <p>학생3 <input type="text" name=stu3 placeholder="학생3"</p>
    <p>학생4 <input type="text" name=stu4 placeholder="학생4"></p>
    <p><input type="submit" value="호실배정""></p>
</form>