<html>
  <head>
  <title>gsm기숙사</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>기숙사 관리 시스템</h1>
    <h3><a href="/login">log in</a></h3>
    <h3><a href="/signup">sign up</a></h3>
  </body>
</html>