<html>
  <head>
  <title><%= title %></title>
  </head>
  <body>
    <h1><a href="/">홈</a></h1>
    <h1>잔류학생 관리</h1>
    <ul>
    <%- Goout %>
    </ul>
    <h2><a href="/stay/goout">외박신청 하기</a></h2>
  </body>
</html>