<form action="redpoint" method="post">
    <p><input type="text" name=grade placeholder="학년">학년</p>
    <p><input type="text" name=class placeholder="반">반</p>
    <p><input type="text" name=number placeholder="번호">번</p>
    <p><input type="text" name=name placeholder="이름">이름</p>
    <p>벌점 <input type="text" name=point placeholder="몇">점</p>
    <p><input type="text" name=why placeholder="사유">사유</p>
    <p><input type="submit" value="벌점주기"></p>
</form>

<form action="greenpoint" method="post">
    <p><input type="text" name=grade placeholder="학년">학년</p>
    <p><input type="text" name=class placeholder="반">반</p>
    <p><input type="text" name=number placeholder="번호">번</p>
    <p><input type="text" name=name placeholder="이름">이름</p>
    <p>상점 <input type="text" name=point placeholder="몇">점</p>
    <p><input type="text" name=why placeholder="사유">사유</p>
    <p><input type="submit" value="상점주기"></p>
</form>